* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

img {
    width: 30%;
}

.cabecera {
    min-height: 50px;
    background-color:  rgba(3, 4, 7, 0.849);
    color: white;
    font-size: 1rem; 
}

.menu{
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.izquierda{
    align-items: center;
    width: max-content;
}

.derecha{
    align-items: flex-end;
    width: max-content;
}

button {
  background-color: #007bff; 
  color: white; 
  padding: 10px 20px; 
  border: none; 
  border-radius: 5px; 
  cursor: pointer; 
  font-size: 1,5rem; 
}

button:hover {
  background-color: #0056b3; 
}

.contenedor {
    width: 95%;
    margin: 0 auto;
}

.contenido {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.contenido>* {
    width: 100%;
}
.pie{    
    min-height: 50px;
    background-color: rgba(3, 4, 7, 0.849);
    color: white;
    padding: 20px;
    font-size: 2em;
    text-align: center;   
}

/* ===============================
            768px
=================================== */

@media screen and (min-width:768px) {
    .contenedor {
        width: 75%;
    }

    .contenido>* {
        width: calc(50% - 20px);
    }

    .menu{
        width: 90%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .izquierda{
        align-items: center;
        width: max-content;
    }

    .derecha{
        align-items: flex-end;
        width: max-content;
    }
}

/* 768px */

/* ===============================
            992px
=================================== */

@media screen and (min-width:992px) {
    .contenedor {
        width: 85%;
    }

    .contenido>* {
        width: calc(25% - 20px);
    }

    
    .menu{
        width: 85%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .izquierda{
        align-items: center;
        width: max-content;
    }

    .derecha{
        align-items: flex-end;
        width: max-content;
    }
}

/* 992px */

/* ===============================
            1200px
=================================== */

@media screen and (min-width:1200px) {
    .contenedor {
        max-width: 1300px;
    }
    
    .menu{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .izquierda{
        align-items: center;
        width: max-content;
    }

    .derecha{
        align-items: flex-end;
        width: max-content;
    }
}

/* 1200px */